aniso8601==1.2.0
bcrypt==3.1.2
cffi==1.9.1
click==6.7
Flask==0.11.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9
MarkupSafe==0.23
pycparser==2.17
PyJWT==1.4.2
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.15
